* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP','Arial', sans-serif;
    /* font-family: sans-serif,'Arial'; */
    background: linear-gradient(to bottom, #121212 0%, #1c1c1c 50%, #171718 100%);
    color: #f5f5f5;
    line-height: 1.6;
}


html {
    scroll-behavior: smooth;
}


header {
    background-color: #1f1f1f;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 2px;
    object-fit: cover;
    border: 3px solid #cc6d2e;
    transition: transform 0.3s ease;
}

.profile-img:hover {
    transform: scale(1.05);
}

.name {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    margin-top: 15px;
    
}

nav a {
    color: #f5f5f5;
    text-decoration: none;
    margin: 0 15px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #00bcd4;
}

.nav-row {
    margin: 10px 0;
    border-radius: 10px;
}

.nav-row a {
    color: #f5f5f5;
    text-decoration: none;
    margin: 32px;
    font-size: 1.7em;
    transition: color 0.3s ease;
}

.nav-row a:hover {
    color: #00bcd4;
}

.wip {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 0.9em;
}

.wip a{
    color: rgba(245, 243, 243, 0.486); 
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.wip a:hover {
    color: #00bcd4;
}

.wip-label {
    color: #df9931;
    font-weight: bold;
    font-size: 1.7em;
    padding: 3px 10px;
    border-radius: 3px;
    background-color: #1f1f1f;
    border: 2px solid #a77429;
}

section {
    padding: 60px 20px;
    text-align: center;
    border-top: 1px solid #333;
}

.category {
    display: block;
    font-size: 2.3em;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
    font-weight: bolder;
    color: #bb6310;
    /* text-shadow: 5px 5px #000; */
}


h1,
h2,
h3 {
    margin-bottom: 10px;
}

.project,
.event,
.interest,
.profile,
.contact,
.qualifications {
    background-color: #2e2e2e;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    max-width: 1000px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover,
.contact:hover,
.profile:hover,
.event:hover,
.interest:hover,
.qualifications:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(12, 142, 218, 0.137);
}

a {
    color: #f5f5f5;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #00bcd4;
    /* text-decoration: underline; */
}

footer {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #aaa;
}

.contact h3 a img {
    vertical-align: middle;
    height: 40px;
}

.contact h3 a {
    vertical-align: middle;
    margin-left: 5px;
}

